{% load static %}
<div class="row">
        <div class="col-md-12">

        <div class="table-responsive-md">
            <table style="text-align: center;" class="table table-bordered">
                <thead>
                  <tr>
                    <th><img height="200" width="50"  src="{% static 'img/4/k1.jpg' %}" class="img-fluid" alt=""></th>
                    <th><img height="210" width="55" src="{% static 'img/4/dk.jpg' %}" class="img-fluid" alt=""></th>
                    <th><img height="250" width="200" src="{% static 'img/4/kb-kl.jpg' %}" class="img-fluid" alt=""></th>
                    <th><img height="200" width="50" src="{% static 'img/4/ad.jpg' %}" class="img-fluid" alt=""></th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td>
                        <table style="text-align: center;" class="table table-bordered">
                            <thead>
                              <tr>
                                <th>K1 (DİKEY KENET)</th>
                              </tr>
                            </thead>
                            <tbody>

                              <tr>
                                <td>{{ k1 }} mm</td>
                              </tr>

                            </tbody>
                          </table>
                    </td>
                    <td>
                        <table style="text-align: center;" class="table table-bordered">
                            <thead>
                              <tr>
                                <th>DK (DİKME KESİM)</th>
                              </tr>
                            </thead>
                            <tbody>

                              <tr>
                                <td>{{ dk_4 }} mm</td>
                              </tr>

                            </tbody>
                          </table>
                    </td>
                    <td>
                        <table style="text-align: center;" class="table table-bordered">
                        <thead>
                          <tr>
                            <th>KB (KANAT BOYU)</th>
                            <th>KL (KANAT UZUNLUĞU)</th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr>
                            <td>{{ kb }} mm</td>
                            <td>{{ kl }} mm</td>
                          </tr>

                        </tbody>
                      </table>
                    </td>
                    <td>
                        <table style="text-align: center;" class="table table-bordered">
                            <thead>
                              <tr>
                                <th>AD (MERKEZ DİKME)</th>
                              </tr>
                            </thead>
                            <tbody>

                              <tr>
                                <td>{{ ad }} mm</td>
                              </tr>

                            </tbody>
                          </table>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
            </div>
    </div>
    <div class="row">
      <div class=col-md-12>

        <div class="table-responsive-md">

            <table style="text-align: center;" class="table table-bordered">
                <thead>
                  <tr>
                    <th>
                      {% if rd.stain_arm %}
                      <img height="200" width="110"  src="{% static 'img/cam2.jpg' %}" class="img-fluid" alt="">
                      {% else %}
                        <img height="200" width="110"  src="{% static 'img/4/ch-cl.jpg' %}" class="img-fluid" alt="">
                      {% endif %}
                      </th>
                    <th>
                        <img height="200" width="200"  src="{% static 'img/4/ek.jpg' %}" class="img-fluid" alt="">
                    </th>
                    <th>
                        <img height="200" width="200"  src="{% static 'img/4/k2.jpg' %}" class="img-fluid" alt="">
                    </th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td>
                        <table style="text-align: center;" class="table table-bordered">
                            <thead>
                              <tr>
                                <th>CH (CAM YÜKSEKLİĞİ)</th>
                                <th>CL (CAM GENİŞLİĞİ)</th>
                              </tr>
                            </thead>
                            <tbody>

                              <tr>
                                <td>{{ ch }} mm</td>
                                <td> {{ cl }} mm</td>
                              </tr>

                            </tbody>
                          </table>
                    </td>
                    <td>
                        <table style="text-align: center;" class="table table-bordered">
                            <thead>
                              <tr>
                                <th>EK (ETEK KESİM)</th>
                              </tr>
                            </thead>
                            <tbody>

                              <tr>
                                <td>{{ ek }} mm</td>
                              </tr>

                            </tbody>
                          </table>
                    </td>
                    <td>
                        <table style="text-align: center;" class="table table-bordered">
                            <thead>
                              <tr>
                                <th>K2 (KENET KESİM)</th>
                              </tr>
                            </thead>
                            <tbody>

                              <tr>
                                <td>{{ k2 }} mm</td>
                              </tr>

                            </tbody>
                          </table>
                    </td>
                  </tr>

                </tbody>
              </table>

        </div>

      </div>
    </div>