{% load static %}
<div style="text-align: center;">
        <h3>HAREKETLİ KANAT CAM SİPARİŞ BİLGİLERİ</h3><br>
        </div>
      <div class="row">

        <div class="col-md-4" style="text-align: center"><br><br>
          <img width="150" height="200" src="{% static 'img/4/ch-cl.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8"><br><br><br><br><br><br><br><br><br>
          <div class="table-responsive-md">
          <table style="text-align: center;" class="table table-bordered">
            <thead>
              <tr>
                <th>CAMIN NİTELİĞİ</th>
                <th>CAM ADEDİ</th>
                <th>CH (CAMIN YÜKSEKLİĞİ)</th>
                <th>CL (CAMIN GENİŞLİĞİ)</th>
              </tr>
            </thead>
            <tbody>

              <tr>
                <td>{{ rd.moving_glass }}</td>
                <td>{{ rd.moving_glass_no }}</td>
                <td>{{ ch }}</td>
                <td> {{ cl }}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
      </div>