{% load static %}
<div class="row">

        <div class="col-md-12">
          <div class="table-responsive-md">
            <table style="text-align: center;" class="table table-bordered">
                <thead>
                  <tr>
                    <th>
          <img  src="{% static 'img/genel/genel_g1.jpg' %}" class="img-fluid" alt="">
        </th>
        <th>
          {% if rd.wing == 3 %}
          {% if rd.night_sensor %}
          <img src="{% static 'img/genel/genel_night_3wing.jpg' %}"  class="img-fluid" alt="">
          {% else %}
          <img src="{% static 'img/genel/genel_g2_kanat3.jpg' %}"  class="img-fluid" alt="">
          {% endif %}
          {% else %}
          <img src="{% static 'img/genel/genel_g2_kanat4.jpg' %}"  class="img-fluid" alt="">
          {% endif %}
        </th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td>
                        <table style="text-align: center;" class="table table-bordered">
                            <thead>
                              <tr>
                                <th>K (KANOPİ)</th>
                                <th>G.Y (GEÇİŞ YÜKSEKLİĞİ)</th>
                                <th>T.Y (TOPLAM YÜKSEKLİK)</th>
                              </tr>
                            </thead>
                            <tbody>

                              <tr>
                                <td>{{rd.canopy}} mm</td>
                                <td> {{rd.trans_height}} mm</td>
                                <td>{{total_height}} mm</td>
                              </tr>

                            </tbody>
                          </table>
                    </td>
                    <td>
                        <table style="text-align: center;" class="table table-bordered">
                            <thead>
                              <tr>
                                <th> D (ÇAP)</th>
                                {% if rd.night_sensor %}
                                <th>D1 (GECE KALKANI DIŞ ÇAP)</th>
                                {% endif %}
                              </tr>
                            </thead>
                            <tbody>

                              <tr>
                                <td>{{rd.dia}}mm</td>
                                {% if rd.night_sensor %}
                                <td>{{ d1_genel }}</td>
                                {% endif %}
                              </tr>

                            </tbody>
                          </table>
                    </td>

                  </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>