{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
<section class="services-area section-gap">
<div class="container">
   
    <div class="row">
        <div class="col-md-5"><h2>İŞ EMRİ</h2></div>
        <div class="col-md-7" style="text-align: right;"><h2>MR30/SA OTOMATİK DÖNER KAPI</h2><br></div>
    </div>
    <hr>
<div class="row">
    <div class="col-md-7">
<form method="POST">
    {% csrf_token %}

    {{ form|crispy }}
    {{ form.media }}
    <br>
<input type="submit" value="Oluştur" class="btn btn-primary btn-sm"></input>
</form>
</div>
</div>
<br>
<br>
</div>
</section>
{% endblock %}