{% extends 'base.html' %}
{% load static %}
{% block body %}
<section class="services-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
            <b style="color:black;">MR30/SA OTOMATİK DÖNER KAPI</b>
            <div>{{ rd.company }}</div>
            </div>

            <div class="col-md-4" style="text-align: right;">

                 Oluşturan : <b style="color:black;">GokhanSuzen</b>  <br>
                {{ rd.published_date }}
            </div>
        </div>
        <hr>
</div>

<section class="ftco-section">
  <div class="container">
    
    <div class="ftco-departments">
      <div class="row">
        <div class="col-md-12 nav-link-wrap">
          <div class="nav nav-pills d-flex text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link ftco-animate active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">İş Emri</a>

            <a class="nav-link ftco-animate" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Genel</a>

            <a class="nav-link ftco-animate" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Kanopi</a>

            <a class="nav-link ftco-animate" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab" aria-controls="v-pills-4" aria-selected="false">Kanopi Reçete</a>

            <a class="nav-link ftco-animate" id="v-pills-5-tab" data-toggle="pill" href="#v-pills-5" role="tab" aria-controls="v-pills-5" aria-selected="false">3</a>

            <a class="nav-link ftco-animate" id="v-pills-6-tab" data-toggle="pill" href="#v-pills-6" role="tab" aria-controls="v-pills-5" aria-selected="false">4</a>

            <a class="nav-link ftco-animate" id="v-pills-7-tab" data-toggle="pill" href="#v-pills-7" role="tab" aria-controls="v-pills-5" aria-selected="false">5</a>

            <a class="nav-link ftco-animate" id="v-pills-8-tab" data-toggle="pill" href="#v-pills-8" role="tab" aria-controls="v-pills-5" aria-selected="false">6</a>

            <a class="nav-link ftco-animate" id="v-pills-9-tab" data-toggle="pill" href="#v-pills-9" role="tab" aria-controls="v-pills-5" aria-selected="false">7</a>

            <a class="nav-link ftco-animate" id="v-pills-10-tab" data-toggle="pill" href="#v-pills-10" role="tab" aria-controls="v-pills-5" aria-selected="false">8</a>

            <a class="nav-link ftco-animate" id="v-pills-11-tab" data-toggle="pill" href="#v-pills-11" role="tab" aria-controls="v-pills-5" aria-selected="false">9</a>

            <a class="nav-link ftco-animate" id="v-pills-12-tab" data-toggle="pill" href="#v-pills-12" role="tab" aria-controls="v-pills-5" aria-selected="false">9.1</a>
          </div>
        </div>
        <div class="col-md-12 tab-wrap">
          <br>
          
          <div class="tab-content bg-white p-4 p-md-5 ftco-animate card" id="v-pills-tabContent">
              <!-- İş Emri -->
            <div class="tab-pane py-2 fade show active card-body " id="v-pills-1" role="tabpanel" aria-labelledby="day-1-tab">
              <h3 style="text-align: center;">ATÖLYE İŞ EMRİ</h3>
              <div class="table-responsive-md">
              <table style="text-align: center;" class="table table-bordered">
                  <thead>
                    <tr>
                      <th>FİRMA</th>
                      <th>CRM NO</th>
                      <th>TESLİM ŞEKLİ</th>
                      <th>TESMLİM TARİHİ</th>
                    </tr>
                  </thead>
                  <tbody>
                     
                    <tr>
                      <td>{{rd.company}}</td>
                      <td>{{rd.crm_no}}</td>
                      <td>{{rd.delivery_method}}</td>
                      <td>{{rd.delivery_date}}</td>
                    </tr>
                   
                  </tbody>
                </table>
              </div>
              <div class="table-responsive-md">
                <table style="text-align: left;" class="table table-bordered">
                    <thead>
                      <tr>
                        <th>SEVK ADRESİ</th>
                      </tr>
                    </thead>
                    <tbody>
                       
                      <tr>
                        <td>{{rd.adress}}<br></td>
                      </tr>
                     
                    </tbody>
                  </table>
                  </div>
                <br>
              <h3 style="text-align: center;">MR30/SA OTOMATİK DÖNER KAPI</h3>
              <div class="table-responsive-md">
              <table style="text-align: center;" class="table table-bordered">
                  <thead>
                    <tr>
                      <th>ÇAP</th>
                      <th>GEÇİŞ YÜKSEKLİĞİ</th>
                      <th>KANOPİ</th>
                      <th>TOPLAM YÜKSEKLİK</th>
                      <th>KANAT SAYISI</th>
                    </tr>
                  </thead>
                  <tbody>
                     
                    <tr>
                      <td>{{rd.dia}}</td>
                      <td>{{rd.trans_height}}</td>
                      <td>{{rd.canopy}}</td>
                      <td>{{rd.total_height}}</td>
                      <td>{{ rd.wing }}</td>
                    </tr>
                   
                  </tbody>
                </table>
                </div>
                <div class="table-responsive-md">
                <table style="text-align: center;" class="table table-bordered">
                    <thead>
                      <tr>
                        <th>SABİT CAM</th>
                        <th>HAREKETLİ CAM</th>
                        <th>SABİT CAM ADEDİ</th>
                        <th>HAREKETLİ CAM ADEDİ</th>
                        <th>RENK</th>
                        <th>IŞIKLANDIRMA</th>
                      </tr>
                    </thead>
                    <tbody>
                       
                      <tr>
                        <td>{{ rd.fixed_glass }}</td>
                        <td>{{ rd.moving_glass }}</td>
                        <td>{{ rd.fixed_glass_no }}</td>
                        <td>{{ rd.moving_glass_no }}</td>
                        <td>{{ rd.color }}</td>
                        <td>{{ rd.lighting }}</td>
                      </tr>
                     
                    </tbody>
                  </table>
                  </div>
                  <div class="table-responsive-md">
                <table style="text-align: center;" class="table table-bordered">
                    <thead>
                      <tr>
                        <th>KIRILAN KANAT</th>
                        <th>YER ÇEMBERİ</th>
                        <th>GECE KALKANI</th>
                        <th>TOPUK SENSÖRÜ</th>
                        <th>EL SENSÖRÜ</th>
                        <th>SPOT SCAN</th>
                        <th>İSPANYOLET KİLİT</th>
                        <th>PASLANMAZ KOL</th>
                        <th>BUTON DİREĞİ</th>
                      </tr>
                    </thead>
                    <tbody>
                       
                      <tr>
                        <td> {% if rd.broken_wing  %} <img class="img-fluid" src="{% static 'img/icon-yes.svg' %}"> {% else %} <img class="img-fluid" src="{% static 'img/icon-no.svg' %}"> {% endif %}</td>
                        <td> {% if rd.ground_circle  %} <img class="img-fluid" src="{% static 'img/icon-yes.svg' %}"> {% else %} <img class="img-fluid" src="{% static 'img/icon-no.svg' %}"> {% endif %}</td>
                        <td> {% if rd.night_sensor  %} <img class="img-fluid" src="{% static 'img/icon-yes.svg' %}"> {% else %} <img class="img-fluid" src="{% static 'img/icon-no.svg' %}"> {% endif %}</td>
                        <td> {% if rd.heel_sensor  %} <img class="img-fluid" src="{% static 'img/icon-yes.svg' %}"> {% else %} <img class="img-fluid" src="{% static 'img/icon-no.svg' %}"> {% endif %}</td>
                        <td> {% if rd.hand_sensor  %} <img class="img-fluid" src="{% static 'img/icon-yes.svg' %}"> {% else %} <img class="img-fluid" src="{% static 'img/icon-no.svg' %}"> {% endif %}</td>
                        <td> {% if rd.spot_scan  %} <img class="img-fluid" src="{% static 'img/icon-yes.svg' %}"> {% else %} <img class="img-fluid" src="{% static 'img/icon-no.svg' %}"> {% endif %}</td>
                        <td> {% if rd.spain.key  %} <img class="img-fluid" src="{% static 'img/icon-yes.svg' %}"> {% else %} <img class="img-fluid" src="{% static 'img/icon-no.svg' %}"> {% endif %}</td>
                        <td> {% if rd.stain_arm  %} <img class="img-fluid" src="{% static 'img/icon-yes.svg' %}"> {% else %} <img class="img-fluid" src="{% static 'img/icon-no.svg' %}"> {% endif %}</td>
                        <td> {% if rd.button_pole  %} <img class="img-fluid" src="{% static 'img/icon-yes.svg' %}"> {% else %} <img class="img-fluid" src="{% static 'img/icon-no.svg' %}"> {% endif %}</td>

                      </tr>
                     
                    </tbody>
                  </table>
                  </div>
                  <h3 style="text-align: center;">İMALAT NOTLARI</h3>
                  <div class="card">
                    <div class="card-body">
                      <p>{% if rd.notes %} {{ rd.notes }} {% else %} <p>Not yok.</p> {% endif %}</p>
                    </div>
                  </div>
            </div>

            <!-- Genel -->

            <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-day-2-tab">
              <div class="row">
               
                <div class="col-md-12">
                  <div class="table-responsive-md">
                    <table style="text-align: center;" class="table table-bordered">
                        <thead>
                          <tr>
                            <th>
                  <img  src="{% static 'img/genel/genel_g1.jpg' %}" class="img-fluid" alt="">
                </th>
                <th>
                    <img src="{% static 'img/genel/genel_g2.jpg' %}"  class="img-fluid" alt="">

                </th>
                          </tr>
                        </thead>
                        <tbody>
                           
                          <tr>
                            <td>
                                <table style="text-align: center;" class="table table-bordered">
                                    <thead>
                                      <tr>
                                        <th>K (KANOPİ)</th>
                                        <th>G.Y (GEÇİŞ YÜKSEKLİĞİ)</th>
                                        <th>T.Y (TOPLAM YÜKSEKLİK)</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                       
                                      <tr>
                                        <td>{{rd.canopy}} mm</td>
                                        <td> {{rd.trans_height}} mm</td>
                                        <td>{{rd.total_height}} mm</td>
                                      </tr>
                                     
                                    </tbody>
                                  </table>
                            </td>
                            <td>
                                <table style="text-align: center;" class="table table-bordered">
                                    <thead>
                                      <tr>
                                        <th> D (ÇAP)</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                       
                                      <tr>
                                        <td>{{rd.dia}}mm</td>
                                      </tr>
                                     
                                    </tbody>
                                  </table>
                            </td>
                           
                          </tr>
                         
                        </tbody>
                      </table>
                </div>
              </div>
              </div>
            </div>
            <!-- Kanopi -->
            <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-day-3-tab">
                <h3 style="text-align: center;">KANOPİ İMALATI</h3><br>

             
              <div class="row">
                    
     
                  <div class="col-md-12" style="text-align: center;">
                        <img src="{% static 'img/kanopi/kanopi.png' %}" class="img-fluid" alt=""><br><br>
                  </div>
                </div>
                  <div class="row">
                    <div class="col-md-8" style="text-align: center;">
                      
                      <div class="table-responsive-md">
                          <table style="text-align: center;" class="table table-bordered">
                              <thead>
                                <tr>
                                    <th>
                                        <span>140 mm</span>
                                        <img class="img-fluid" width="200" height="150" src="{% static 'img/kanopi/us-ts-140.png' %}" alt=""> <br>
                                    </th>
                                     <th>{{ us_dis }} mm
                                        {% if rd.canopy > 210 %} <img class="img-fluid" width="200" height="150" src="{% static 'img/kanopi/us-ts-70.png' %}" alt=""><br> 
                                        {% else %} <img class="img-fluid" width="200" height="150" src="{% static 'img/kanopi/us-ts-140.png' %}" alt="">{% endif %}<br></th> 
                                      
                                      </tr>

                              </thead>
                              <tbody>
                                 
                                <tr>
                                      <td>
                                        <table style="text-align: center;" class="table table-bordered">
                                          <thead>
                                            <tr>
                                              <th>TS DIŞ KESİM UZUNLUĞU (2 ADET)</th>
                                              <th>TS DIŞ ÇAP</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                             
                                            <tr>
                                              <td>{{ ts_dis_kesim }}mm</td>
                                              <td>{{ ts_dis_cap }}</td>
                                            </tr>
                                           
                                          </tbody>
                                        </table>
                                      </td>
                                      <td>
                                         
                                            <table style="text-align: center;" class="table table-bordered">
                                              <thead>
                                                <tr>
                                                  <th>US DIŞ KESİM UZUNLUĞU (2 ADET)</th>
                                                  <th>US DIŞ ÇAP</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                 
                                                <tr>
                                                  <td>{{ us_dis_kesim }} mm</td>
                                                  <td>{{ us_dis_cap }}</td>
                                                </tr>
                                               
                                              </tbody>
                                            </table>
                                      </td>
                                </tr>
                               
                              </tbody>
                            </table>
                         
                      </div>
                    </div>
                    
                    <div class="col-md-4">
                      <div class="table-responsive-md"><br><br><br><br><br>
                        <table style="text-align: center;" class="table table-bordered">
                            <thead>
                              <tr>
                                <th>Orta Sigma Bağlantı Ayağı</th>
                                <th>Alt Sigma Bağlantı Ayağı</th>
                                <th>Üst Sigma Bağlantı Ayağı</th>
                              </tr>
                            </thead>
                            <tbody>
                               
                              <tr>
                                <td>4</td>
                                <td>10</td>
                                <td>10</td>
                              </tr>
                             
                            </tbody>
                          </table>
                    </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">

                      <div class="table-responsive-md"><br><br>
                        <table style=" text-align: center;" class="table table-bordered">
                            <thead>
                              <tr>
                                <th ><img src="{% static 'img/kanopi/kbu-sbu.png' %}" class="img-fluid" alt=""></th>
                                <th><img src="{% static 'img/kanopi/s1-s2-s3.png' %}" class="img-fluid" alt=""</th>
                                <th><img src="{% static 'img/kanopi/u-prf.png' %}" class="img-fluid" alt=""</th>
                              </tr>
                            </thead>
                            <tbody>
                               
                              <tr>
                                <td><table style="text-align: center;" class="table table-bordered">
                                    <thead>
                                      <tr>
                                          <th>Kanopi Birleşim</th>
                                          <th>KBU U Profil</th>
                                          <th>SBU U Profil</th>
                                        
                                      </tr>
                                    </thead>
                                    <tbody>
                                       
                                      <tr>
                                        <td>{{ kanopi_birlesim }}mm</td>
                                        <td>{{ kbu_u_profile }}mm </td>
                                        <td>{{ sbu_u_profile }}mm </td>
                                      </tr>
                                     
                                    </tbody>
                                  </table></td>
                                <td>
                                    <table style="text-align: center;" class="table table-bordered">
                                        <thead>
                                          <tr>
                                              <th>S1 (4 ADET)</th>
                                              <th>S2 (8 ADET)</th>
                                              <th>S3 (3 ADET)</th>
                                            
                                          </tr>
                                        </thead>
                                        <tbody>
                                           
                                          <tr>
                                            <td>{{ s1 }}mm</td>
                                            <td>{{ s2 }}mm</td>
                                            <td>{{ s3 }}mm</td>
                                          </tr>
                                         
                                        </tbody>
                                      </table>
                                </td>
                                <td>
                                    <table style="text-align: center;" class="table table-bordered">
                                        <thead>
                                          <tr>
                                              <th>U PRF DIŞ KESİM UZUNLUĞU (2 ADET)</th>
                                              <th>U PROFİL DIŞ ÇAP</th>
                                            
                                          </tr>
                                        </thead>
                                        <tbody>
                                           
                                          <tr>
                                            <td>{{ u_prf_dis_kesim }}mm</td>
                                            <td>{{ u_profile_dis_cap }}</td>
                                          </tr>
                                         
                                        </tbody>
                                      </table>
                                </td>
                              </tr>
                             
                            </tbody>
                          </table>

                    </div>
                  </div></div>
              </div>
            <!-- Kanopi Reçete -->
            <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-day-4-tab">
                <div style="text-align: center;">
                    <h3>KANOPİ KULLANACAK PARÇALAR</h3><br>
                      
                    </div>
  
              <div class="row">
                
              </div>
            </div>
            <!-- 3 -->
            <div class="tab-pane fade" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-day-5-tab">
               
                    
                      <div class="row">
                    
                          <div class="col-md-6" style="text-align: center;">
                              <h4>SABİT KANAT DOĞRAMA</h4><br>
                              <img class="img-fluid" src="{% static 'img/3/pr-ph.jpg' %}" alt=""><br><br>
                              <div class="table-responsive-md"> 
                              <table style="text-align: center;" class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <th>PH (PROFİL YÜKSEKLİĞİ)</th>
                                      <th>PR (PROFİL RADÜS)</th>

                                    </tr>
                                  </thead>
                                  <tbody>
                                     
                                    <tr>
                                      <td>{{ph}}mm</td>
                                      <td>{{pr}}mm Dış Yarıçap</td>

                                    </tr>
                                   
                                  </tbody>
                                </table></div>
                               <br>
                                  <img src="{% static 'img/3/iy-dy.jpg' %}" class="img-fluid" alt=""> <br><br>
                                  <div class="table-responsive-md">
                                  <table style="text-align: center;" class="table table-bordered">
                                <thead>
                                  <tr>
                                    <th>İY (İÇ YAY UZUNLUĞU)</th>
                                    <th>DY (DIŞ YAY UZUNLUĞU)</th>

                                  </tr>
                                </thead>
                                <tbody>
                                   
                                  <tr>
                                    <td>{{iydograma}}mm</td>
                                    <td>{{dydograma}}mm</td>

                                  </tr>
                                 
                                </tbody>
                              </table></div>
                              <br>
                                <img class="img-fluid"  src="{% static 'img/3/ik-dk.jpg' %}" alt=""> <br><br>
                                <div class="table-responsive-md">
                                <table style="text-align: center;" class="table table-bordered">
                                <thead>
                                  <tr>
                                    <th>İK (İÇ KESİM UZUNLUĞU)</th>
                                    <th>DK (DIŞ KESİM UZUNLUĞU)</th>
                                  </tr>
                                </thead>
                                <tbody>
                                   
                                  <tr>
                                    <td>{{ik}}mm</td>
                                    <td>{{dk}}mm</td>
                                  </tr>
                                 
                                </tbody>
                              </table></div>
                             
                          </div>
                         
                          <div class="col-md-6" style="text-align: center;">
                             <h4>SABİT KANAT LAMİNE CAM</h4><br><br>
                             <img class="img-fluid" src="{% static 'img/3/cr-ch.jpg' %}" alt=""><br><br>
                             <div class="table-responsive-md"><br>
                             <table style="text-align: center;" class="table table-bordered">
                                <thead>
                                  <tr>
                                    <th>C.H (CAM YÜKSEKLİĞİ)</th>
                                    <th>C.R (CAM RADÜS)</th>

                                  </tr>
                                </thead>
                                <tbody>
                                   
                                  <tr>
                                    <td>{{ch}}mm</td>
                                    <td>{{cr}}mm Dış Yarıçap</td>

                                  </tr>
                                 
                                </tbody>
                              </table></div>
                             <br>
                                <img class="img-fluid" src="{% static 'img/3/iy-dy.jpg' %}" alt=""> <br><br>
                                <div class="table-responsive-md">
                                <table style="text-align: center;" class="table table-bordered">
                                    <thead>
                                      <tr>
                                        <th>İY (İÇ YAY UZUNLUĞU)</th>
                                        <th>DY (DIŞ YAY UZUNLUĞU)</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                       
                                      <tr>
                                        <td>{{iycam}}mm</td>
                                        <td>{{dycam}}mm</td>
                                      </tr>
                                     
                                    </tbody>
                                  </table>
                                </div>
                                 
                          </div>
          
                          </div>
      
                    </div>
               

            <div class="tab-pane fade" id="v-pills-6" role="tabpanel" aria-labelledby="v-pills-day-6-tab">
              <div class="row">
                  <div class="col-md-12">
                  
                  <div class="table-responsive-md">
                      <table style="text-align: center;" class="table table-bordered">
                          <thead>
                            <tr>
                              <th><img height="200" width="50"  src="{% static 'img/4/k1.jpg' %}" class="img-fluid" alt=""></th>
                              <th><img height="210" width="55" src="{% static 'img/4/dk.jpg' %}" class="img-fluid" alt=""></th>
                              <th><img height="250" width="200" src="{% static 'img/4/kb-kl.jpg' %}" class="img-fluid" alt=""></th>
                              <th><img height="200" width="50" src="{% static 'img/4/ad.jpg' %}" class="img-fluid" alt=""></th>
                            </tr>
                          </thead>
                          <tbody>
                             
                            <tr>
                              <td>
                                  <table style="text-align: center;" class="table table-bordered">
                                      <thead>
                                        <tr>
                                          <th>K1 (DİKEY KENET)</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                         
                                        <tr>
                                          <td>{{ k1 }} mm</td>
                                        </tr>
                                       
                                      </tbody>
                                    </table>
                              </td>
                              <td>
                                  <table style="text-align: center;" class="table table-bordered">
                                      <thead>
                                        <tr>
                                          <th>DK (DİKME KESİM)</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                         
                                        <tr>
                                          <td>{{ dk }} mm</td>
                                        </tr>
                                       
                                      </tbody>
                                    </table>
                              </td>
                              <td>
                                  <table style="text-align: center;" class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <th>KB (KANAT BOYU)</th>
                                      <th>KL (KANAT UZUNLUĞU)</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                     
                                    <tr>
                                      <td>{{ kb }} mm</td>
                                      <td>{{ kl }} mm</td>
                                    </tr>
                                   
                                  </tbody>
                                </table>
                              </td>
                              <td>
                                  <table style="text-align: center;" class="table table-bordered">
                                      <thead>
                                        <tr>
                                          <th>AD (MERKEZ DİKME)</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                         
                                        <tr>
                                          <td>{{ ad }} mm</td>
                                        </tr>
                                       
                                      </tbody>
                                    </table>
                              </td>
                            </tr>
                           
                          </tbody>
                        </table>
                      </div>   
                      </div>
              </div>
              <div class="row">
                <div class=col-md-12>

                  <div class="table-responsive-md">

                      <table style="text-align: center;" class="table table-bordered">
                          <thead>
                            <tr>
                              <th>
                                  <img height="200" width="110"  src="{% static 'img/4/ch-cl.jpg' %}" class="img-fluid" alt="">
                              </th>
                              <th>
                                  <img height="200" width="200"  src="{% static 'img/4/ek.jpg' %}" class="img-fluid" alt="">
                              </th>
                              <th>
                                  <img height="200" width="200"  src="{% static 'img/4/k2.jpg' %}" class="img-fluid" alt="">
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                             
                            <tr>
                              <td>
                                  <table style="text-align: center;" class="table table-bordered">
                                      <thead>
                                        <tr>
                                          <th>CH (CAM YÜKSEKLİĞİ)</th>
                                          <th>CL (CAM GENİŞLİĞİ)</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                         
                                        <tr>
                                          <td>{{ ch }} mm</td>
                                          <td> {{ cl }} mm</td>
                                        </tr>
                                       
                                      </tbody>
                                    </table>
                              </td>
                              <td>
                                  <table style="text-align: center;" class="table table-bordered">
                                      <thead>
                                        <tr>
                                          <th>EK (ETEK KESİM)</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                         
                                        <tr>
                                          <td>{{ ek }} mm</td>
                                        </tr>
                                       
                                      </tbody>
                                    </table>
                              </td>
                              <td>
                                  <table style="text-align: center;" class="table table-bordered">
                                      <thead>
                                        <tr>
                                          <th>K2 (ETEK KESİM)</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                         
                                        <tr>
                                          <td>{{ k2 }} mm</td>
                                        </tr>
                                       
                                      </tbody>
                                    </table>
                              </td>
                            </tr>
                           
                          </tbody>
                        </table>

                  </div>

                </div>
              </div>
            </div>
              <!-- 5 -->
            <div class="tab-pane fade" id="v-pills-7" role="tabpanel" aria-labelledby="v-pills-day-7-tab">
             
              <div style="text-align: center;">
                <h3>SABİT KANAT CAM SİPARİŞ BİLGİLERİ</h3><br>
                </div>
              
              <div class="row">
                  <div class="col-md-4" style="text-align: center;">
                      <img width="180" height="250" src="{% static 'img/3/cr-ch.jpg' %}" class="img-fluid" alt="">
                  </div>
                  
                  <div class="col-md-8"><br><br><br>
                    <div class="table-responsive-md">
                    <table style="text-align: center;" class="table table-bordered">
                      <thead>
                        <tr>
                          <th>CAMIN NİTELİĞİ</th>
                          <th>CAM ADEDİ</th>
                          <th>CH (CAM YÜKSEKLİĞİ)</th>
                          <th>CR (CAM RADÜS)</th>
                        </tr>
                      </thead>
                      <tbody>
                         
                        <tr>
                          <td>{{ rd.fixed_glass }}</td>
                          <td>{{ rd.fixed_glass_no }}</td>
                          <td>{{ ch }} mm</td>
                          <td>{{ cr }} mm Dış Yarıçap</td>
                        </tr>
                       
                      </tbody>
                    </table>
                  </div>
                  </div>
              </div>
              <hr>
              <div class="row">

                <div class="col-md-4" style="text-align: center"><br><br>
                  <img width="200" height="250" src="{% static 'img/3/iy-dy.jpg' %}" class="img-fluid" alt="">
                </div>
                 
                <div class="col-md-8"><br>
                  <table style="text-align: center;" class="table table-bordered">
                    <thead>
                      <tr>
                        <th>İY (İÇ YAY UZUNLUĞU)</th>
                        <th>DY (DIŞ YAY UZUNLUĞU)</th>
                      </tr>
                    </thead>
                    <tbody>
                       
                      <tr>
                        <td>{{ iycam }} mm</td>
                        <td>{{ dycam }} mm</td>
                      </tr>
                     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-- 6 -->
            <div class="tab-pane fade" id="v-pills-8" role="tabpanel" aria-labelledby="v-pills-day-8-tab">
                
              <div style="text-align: center;">
                <h3>HAREKETLİ KANAT CAM SİPARİŞ BİLGİLERİ</h3><br>
                </div>
              <div class="row">
               
                <div class="col-md-4" style="text-align: center"><br><br>
                  <img width="150" height="200" src="{% static 'img/4/ch-cl.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-md-8"><br><br><br><br><br><br><br><br><br>
                  <table style="text-align: center;" class="table table-bordered">
                    <thead>
                      <tr>
                        <th>CAMIN NİTELİĞİ</th>
                        <th>CAM ADEDİ</th>
                        <th>CH (CAMIN YÜKSEKLİĞİ)</th>
                        <th>CL (CAMIN GENİŞLİĞİ)</th>
                      </tr>
                    </thead>
                    <tbody>
                       
                      <tr>
                        <td>{{ rd.moving_glass }}</td>
                        <td>{{ rd.moving_glass_no }}</td>
                        <td>{{ ch }}</td>
                        <td> {{ cl }}</td>
                      </tr>
                     
                    </tbody>
                  </table>
                </div>
               
              </div>
            </div>   
            <!--  7 -->
            <div class="tab-pane fade" id="v-pills-9" role="tabpanel" aria-labelledby="v-pills-day-9-tab">
              <div class="row">
              <div class="col-md-8"><br>
                <h3>BAKLAVA LEVHA SİPARİŞ BİLGİLERİ</h3>
                </div>
                <div class=col-md-4>
                  <div class="table-responsive-md">
                    <table style="text-align: center;" class="table table-bordered">
                      <thead>
                        <tr>
                          <th>SİPARİŞ NO</th>
                          <th>RENK</th>
                        </tr>
                      </thead>
                      <tbody>
                         
                        <tr>
                          <td>{{ rd.crm_no }}</td>
                          <td>{{ rd.color }}</td>
                        </tr>
                       
                      </tbody>
                    </table>
                   
          </div>
                </div>
              </div></br>
              <div class="row">
               <div class="col-md-3">
                 <img src="{% static 'img/7/bakla_levha1.jpg' %}" class="img-fluid" alt="">
               </div>
              <div class="col-md-9">
                <div class="table-responsive-md"><br><br>
                        <table style="text-align: center;" class="table table-bordered">
                          <thead>
                            <tr>
                              <th>LEVHA RENGİ</th>
                              <th>LEVHA KALINLIĞI</th>
                              <th>ADET</th>
                              <th>LB (LEVHA BOYU)</th>
                              <th>DY (DIŞ YAY)</th>
                              <th>İY (İÇ YAY)</th>
                              <th>R1 (İÇ RADÜS)</th>
                              <th>R2 (DIŞ RADÜS)</th>
                            </tr>
                          </thead>
                          <tbody>
                             
                            <tr>
                              <td>{{ rd.color }}</td>
                              <td> 2 mm </td>
                              <td> 7 </td>
                              <td> {{ lb }} mm</td>
                              <td>{{ dy }}</td>
                              <td>{{ iy }}</td>
                              <td>347,5 mm</td>
                              <td>{{ r2 }}</td>
                            </tr>
                           
                          </tbody>
                        </table>
                       
              </div><br>
            </div>         
              </div><hr>
              <div class="row">
                <div class="col-md-3">
                  <img src="{% static 'img/7/bakla_levha2.jpg' %}" class="img-fluid" alt="">
                </div>
               <div class="col-md-9">
                 <div class="table-responsive-md"><br><br>
                         <table style="text-align: center;" class="table table-bordered">
                           <thead>
                             <tr>
                               <th>LEVHA RENGİ</th>
                               <th>LEVHA KALINLIĞI</th>
                               <th>ADET</th>
                               <th>LB (LEVHA BOYU)</th>
                               <th>DY (DIŞ YAY)</th>
                               <th>İY (İÇ YAY)</th>
                               <th>R1 (İÇ RADÜS)</th>
                               <th>R2 (DIŞ RADÜS)</th>
                               <th>SM (SPOT MESAFESİ)</th>
                             </tr>
                           </thead>
                           <tbody>
                              
                             <tr>
                               <td>{{ rd.color }}</td>
                               <td> 2 mm </td>
                               <td> 4 </td>
                               <td> {{ lb_2 }} mm</td>
                               <td>{{ dy_2 }}</td>
                               <td>{{ iy_2 }}</td>
                               <td>347,5 mm</td>
                               <td>{{ r2_2 }}</td>
                               <td>{{ sm }}</td>
                             </tr>
                            
                           </tbody>
                         </table>
                        
               </div>
             </div>    <br>     
               </div><hr>
               <div class="row">
                <div class="col-md-3">
                  <img src="{% static 'img/7/bakla_levha3.jpg' %}" class="img-fluid" alt="">
                </div>
               <div class="col-md-9">
                 <div class="table-responsive-md"><br><br>
                         <table style="text-align: center;" class="table table-bordered">
                           <thead>
                             <tr>
                               <th>LEVHA RENGİ</th>
                               <th>LEVHA KALINLIĞI</th>
                               <th>ADET</th>
                               <th>LB (LEVHA BOYU)</th>
                               <th>DY (DIŞ YAY)</th>
                               <th>İY (İÇ YAY)</th>
                               <th>R1 (İÇ RADÜS)</th>
                               <th>R2 (DIŞ RADÜS)</th>
                             </tr>
                           </thead>
                           <tbody>
                              
                             <tr>
                               <td>{{ rd.color }}</td>
                               <td> 2 mm </td>
                               <td> 1 </td>
                               <td> {{ lb_3 }} mm</td>
                               <td>{{ dy_3 }}</td>
                               <td>{{ iy_3 }}</td>
                               <td>347,5 mm</td>
                               <td>{{ r2_3 }}</td>
                             </tr>
                            
                           </tbody>
                         </table>
                        
               </div>
             </div>         
               </div>
            </div>


            <div class="tab-pane fade" id="v-pills-10" role="tabpanel" aria-labelledby="v-pills-day-10-tab">
              <div class="row departments">
               
                  8
               
              </div>
            </div>


            <div class="tab-pane fade" id="v-pills-11" role="tabpanel" aria-labelledby="v-pills-day-11-tab">
              <div class="row departments">
               
                  9
               
              </div>
            </div>

            <div class="tab-pane fade" id="v-pills-12" role="tabpanel" aria-labelledby="v-pills-day-12-tab">
              <div class="row departments">
               
                  9.1
               
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


</section>

{% endblock %}