{% load static %}
<div style="text-align: center;">
        <h3>PROFİL BÜKÜMLERİ</h3><br>
        </div>
  <div class="row">

    <div class="col-md-6" style="text-align: center;">
         140mm<img src="{% static 'img/kanopi/us-ts-140.png' %}" width="100" height="100 " class="img-fluid" alt="">
         70mm<img src="{% static 'img/kanopi/us-ts-70.png' %}" width="100" height="100" class="img-fluid" alt="">   
    </div>
        <div class="col-md-6">
          <b class="text-dark"> 8715-B ŞASE</b><br>
          <b class="text-dark">DIŞ ÇAP : {{ dis_cap_9 }} mm</b><br>
          <b class="text-dark">DIŞ KESİM UZUNLUĞU : {{ dis_kesim_u }} mm</b><br>
          <b class="text-dark">2'şer ADET</b><br>
          </div>
        </div><hr>
        <div class="row">

            <div class="col-md-6" style="text-align: center;">
                <img src="{% static 'img/9_1/bukum1.png' %}" width="200" height="200" class="img-fluid" alt="">   
            </div>
                <div class="col-md-6">
                    <b class="text-dark">6908 ÇITASIZ ALT ETEK </b><br>
                    <b class="text-dark">DIŞ ÇAP {{ dis_cap_9_2 }} mm</b><br>
                    <b class="text-dark">DIŞ KESİM UZUNLUĞU {{ dis_kesim_u_2 }} mm</b><br>
                    <b class="text-dark">4 ADET</b><br>
                  </div>
                </div><hr>
                <div class="row">

                    <div class="col-md-6" style="text-align: center;">
                        <img src="{% static 'img/9_1/bukum2.jpg' %}" width="150" height="150" class="img-fluid" alt="">   
                    </div>
                        <div class="col-md-6">
                          <b class="text-dark">17 X 25 KUTU PROFİL</b><br>
                          <b class="text-dark">DIŞ ÇAP {{ dis_cap_9_2 }} mm</b><br>
                          <b class="text-dark">DIŞ KESİM UZUNLUĞU {{ dis_kesim_u_3 }} mm</b><br>
                          <b class="text-dark">1 ADET</b><br>
                          </div>
                         
                        </div><hr>
                        <div class="row">

                     <div class="col-md-6" style="text-align: center;">
                      <img src="{% static 'img/9_1/bukum3.jpg' %}" width="150" height="150" class="img-fluid" alt="">
                     </div>
               <div class="col-md-6">
                          <b class="text-dark">6908 ÜST ÇITASIZ ETEK</b><br>
                          <b class="text-dark">DIŞ ÇAP : {{ dis_cap_9_2 }} mm</b><br>
                          <b class="text-dark">DIŞ KESİM UZUNLUĞU : {{ dis_kesim_u_3 }} mm</b><br>
                          <b class="text-dark">1 ADET</b><br>
               </div>
        </div><hr>
         <div class="row">

                         <div class="col-md-6" style="text-align: center;">
                          <img src="{% static 'img/9_1/bukum4.jpg' %}" width="150" height="150" class="img-fluid" alt="">
                           </div>
                  <div class="col-md-6">
                           <b class="text-dark">6910 ÇITASIZ DİKME</b><br>
                           <b class="text-dark">DIŞ ÇAP : {{ dis_cap_9_5 }} mm</b><br>
                           <b class="text-dark">DIŞ KESİM UZUNLUĞU : {{ dis_kesim_u_5 }} mm</b><br>
                           <b class="text-dark">2 ADET</b><br>
                  </div>
        </div><hr>
        <div class="row">

            <div class="col-md-6" style="text-align: center;">
             <img src="{% static 'img/9_1/bukum3.jpg' %}" width="150" height="150" class="img-fluid" alt="">
              </div>
     <div class="col-md-6">
              <b class="text-dark">6910 ÇITASIZ DİKME</b><br>
              <b class="text-dark">DIŞ ÇAP : {{ dis_cap_9_2 }} mm</b><br>
              <b class="text-dark">DIŞ KESİM UZUNLUĞU : {{ dis_kesim_u_2 }} mm</b><br>
              <b class="text-dark">4 ADET</b><br>
     </div>
</div><hr>


</div>

</div>
</div>
</div>
</div>